<% include ./partials/navigation %>
<% include ./partials/messages %>
<% include ./partials/admin/admin_modals %>
<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h2 class="mb-0 text-info">admin panel</h2>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <h3 class="text-center">Mobs</h3>
        <div class="d-flex flex-column ">
            <button class="btn btn-sm btn-block btn-success" data-toggle="modal" data-target=".user-create-modal">Create</button>
            <button disabled aria-disabled="true" class="btn disabled btn-sm btn-warning">Update</button>
            <button disabled aria-disabled="true" class="btn disabled btn-sm btn-danger">Delete</button>
            <button disabled aria-disabled="true" class="btn disabled btn-sm btn-info">Look Trough</button>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <h3 class="text-center">Users</h3>
        <div class="d-flex flex-column ">
            <button class="btn btn-sm btn-block btn-success">Create</button>
            <button disabled aria-disabled="true" class="btn disabled btn-sm btn-warning">Update</button>
            <button disabled aria-disabled="true" class="btn disabled btn-sm btn-danger">Delete</button>
            <button disabled aria-disabled="true" class="btn disabled btn-sm btn-info">Look Trough</button>

        </div>
    </div>
    <div class="col-md-4 col-12">
        <h3 class="text-center">Quests</h3>
        <div class="d-flex flex-column ">
            <button class="btn btn-sm btn-block btn-success">Create</button>
            <button disabled aria-disabled="true" class="btn disabled btn-sm btn-warning">Update</button>
            <button disabled aria-disabled="true" class="btn disabled btn-sm btn-danger">Delete</button>
            <button disabled aria-disabled="true" class="btn disabled btn-sm btn-info">Look Trough</button>

        </div>
    </div>
    <div class="col-md-4 col-12">
        <h3 class="text-center">Locations</h3>
        <div class="d-flex flex-column ">
            <button class="btn btn-sm btn-block btn-success">Create</button>
            <button disabled aria-disabled="true" class="btn disabled btn-sm btn-warning">Update</button>
            <button disabled aria-disabled="true" class="btn disabled btn-sm btn-danger">Delete</button>
            <button disabled aria-disabled="true" class="btn disabled btn-sm btn-info">Look Trough</button>

        </div>
    </div>
    <div class="col-md-4 col-12">
        <h3 class="text-center">Items</h3>
        <div class="d-flex flex-column ">
            <button class="btn btn-sm btn-block btn-success">Create</button>
            <button disabled aria-disabled="true" class="btn disabled btn-sm btn-warning">Update</button>
            <button disabled aria-disabled="true" class="btn disabled btn-sm btn-danger">Delete</button>
            <button disabled aria-disabled="true" class="btn disabled btn-sm btn-info">Look Trough</button>

        </div>
    </div>
</div>