<div class="row ">
  <div class="col-12">
  <div class="text-center">
    <h2 class="text-info my-5">
      Welcome To Fantasy Cluster
    </h2>
    <p class="text-primary lead mb-0">
      Have you ever dreamt of being an adventurer, slaying monsters, risking your life for a coin?!
    </p>
    <p class="text-primary lead text-wrap">
      If so, then welcome aboard, to a magical experience of "FantasyCluster". Where you can be whoever you want.</p><p class="text-primary lead text-wrap"> A <span class="text-warning text-italic">gunner</span> that shoots down every oponent? We got it!</p>
      <img src="img/gunner.jpg" alt="placeholder 960" style="width: 30rem; height: 40rem;" class="img-thumbnail img-fluid" />
      <p class="text-primary lead text-wrap"> A <span class="text-info text-italic">mage</span>, who wields the power of arcana? You can coun't on us!</p>
      <img src="img/mage.jpg" alt="placeholder 960" style="width: 30rem; height: 40rem;" class="img-thumbnail img-fluid" />
      <p class="text-primary lead text-wrap"> Or maybe you don't trust anything except your trusty sword and hard earned body of metall? Than become a <span class="text-danger text-italic">warrior</span> and slay everything that stands in your path!
    </p >
    <img src="img/warrior.jpg" alt="placeholder 960" style="width: 40rem; height: 30rem;" class="img-thumbnail img-fluid" />
    <h4 class="text-success text-capitalize">make your dreams a reality in "FantasyCluster"</h4>
  </div>
</div>
<div class="col-6 mt-5">
  <img src="img/tavern.jpeg" alt="placeholder 960" class="img-fluid" />
</div>
<div class="col-6 mt-5">
  <h4 class="text-left text-info">Have a sit in an Adveturers Guild!</h4>
  <p class="text-primary lead text-wrap">Here, you can taste our fines lavander-mutafruit beer, and share your stories with other adventurers, take on quests, or gather mighty parties, and go raid the forest's legendary beasts for their treasure and artifacts!</p>
  <h4 class="text-left text-warning">Gather friends and enemies</h4>
  <p class="text-primary lead text-wrap">You can't have a full bar experience without a good fight? Then we got you too, if somebody gives you the evil eye, or is too witty for their skull, you can put their mouth where their words are - in the dirt! Or if it's blood you seek, then you should visit our "Arena OF Heroes" and proove your worth there.</p>
  <h4 class="text-left text-danger">Remember - "DEATH, IS DEATH!"</h4>
  <p class="text-primary mb-0 lead text-wrap">You may be the best around, but nobody, not evben gods are safe from death. Today you may be the hero everybody looks up to, but tomorrow - you lie, face dow, fallen in battle. Try to value your life, you have only one chance.</p>
  <small class="text muted">Characters are deleted upon death. You WILL have to restart your playtrough.</small>
</div>
    <div class="col-md-6 my-5 mx-auto">
      <div class="card card-body text-center">
        <h1>FANTASYCLUSTER</h1>
        <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2"
          >Register</a>
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div>