<div class="row ">
  <div class="col-12">
  <div class="text-center">
    <h2 class="text-info my-5">
      Welcome To FantasyCluster
    </h2>
    <p class="text-primary lead mb-0">
      Have you ever dreamt of being an adventurer, slaying monsters, risking your life for a coin?!
    </p>
  </div>
</div>
<div class="col-6 mt-5">
  <img src="assets/img/tavern.jpeg" alt="placeholder 960" class="img-fluid" />
</div>
<div class="col-6 mt-5">
  <h4 class="text-left text-info">Have a sit in an Adveturers Guild!</h4>
  <p class="text-primary lead text-wrap">Here, you can taste our fines lavander-mutafruit beer, and share your stories with other adventurers, take on quests, or gather mighty parties, and go raid the forest's legendary beasts for their treasure and artifacts!</p>
  <h4 class="text-left text-warning">Gather friends and enemies</h4>
  <p class="text-primary lead text-wrap">You can't have a full bar experience without a good fight? Then we got you too, if somebody gives you the evil eye, or is too witty for their skull, you can put their mouth where their words are - in the dirt! Or if it's blood you seek, then you should visit our "Arena OF Heroes" and proove your worth there.</p>
  <h4 class="text-left text-danger">Remember - "DEATH, IS DEATH!"</h4>
  <p class="text-primary mb-0 lead text-wrap">You may be the best around, but nobody, not evben gods are safe from death. Today you may be the hero everybody looks up to, but tomorrow - you lie, face dow, fallen in battle. Try to value your life, you have only one chance.</p>
  <small class="text muted">Characters are deleted upon death. You WILL have to restart your playtrough.</small>
</div>
    <div class="col-md-6 my-5 mx-auto">
      <div class="card card-body text-center">
        <h1>FANTASYCLUSTER</h1>
        <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2"
          >Register</a>
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div>